# Exercicios - DataFrames com Pandas (Parte 2)

## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [2]:
# 1) Seu código aqui
porc_mat = df_mat/24
porc_por = df_por/18
porc_geo = df_geo/8
porc_ing = df_ing/8
porc_his = df_his/8
porc_fis = df_fis/12
porc_qui = df_qui/12

In [3]:
# 2) 
total_acertos = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total_acertos

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [4]:
# 3) 
porcentual_geral = total_acertos / 90 
# Sendo 90 o número total de questões
porcentual_geral

    Qt_acertos
0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
..         ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667

[100 rows x 1 columns]

In [5]:
# 4) 
fase_2 = total_acertos
fase_2['passou_fase2'] = 0

fase_2.loc[fase_2['Qt_acertos'] > 45, 'passou_fase2'] = 1

n_aprovados = fase_2['passou_fase2'].sum()
print(f'--> Um total de {n_aprovados} alunos foram aprovados para a segunda fase')

fase_2.head(10)

--> Um total de 31 alunos foram aprovados para a segunda fase

   Qt_acertos  passou_fase2
0          35             0
1          48             1
2          50             1
3          32             0
4          30             0
5          50             1
6          29             0
7          49             1
8          58             1
9          39             0

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [6]:
# 1. Novo DataFrame com os alunos que tiraram zero.
zeros_mat, _ = df_mat[df_mat['Qt_acertos'] == 0].shape
zeros_fis, _ = df_fis[df_fis['Qt_acertos'] == 0].shape
zeros_qui, _ = df_qui[df_qui['Qt_acertos'] == 0].shape
print(f'--> {zeros_mat} alunos tiveram zero acertos em matemática, {zeros_fis} em física e {zeros_qui} em química')

total_acertos = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui

df_desqualificados = total_acertos[(df_mat['Qt_acertos'] == 0) | 
                                   (df_fis['Qt_acertos'] == 0) | 
                                   (df_qui['Qt_acertos'] == 0)]
df_desqualificados.head()

--> 3 alunos tiveram zero acertos em matemática, 12 em física e 9 em química

    Qt_acertos
3           32
6           29
10          31
12          42
14          31

In [7]:
# 1. Resolvendo de uma outra forma (creio que seja mais interessante)
df_completo = pd.DataFrame(range(0,100), columns=['mat'])
df_completo['mat'] = df_mat
df_completo['por'] = df_por
df_completo['geo'] = df_geo
df_completo['ing'] = df_ing
df_completo['his'] = df_his
df_completo['fis'] = df_fis
df_completo['qui'] = df_qui
df_completo['total_acertos'] = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui

df_completo.index = range(1,101)

# Os alunos desqualificados estão agora indicados no DataFrame
df_completo['desqualificado'] = 0
df_completo.loc[(df_completo['mat'] == 0) | (df_completo['fis'] == 0) | (df_completo['qui'] == 0), 'desqualificado'] = 1

df_completo.head()

   mat  por  geo  ing  his  fis  qui  total_acertos  desqualificado
1    6    7    7    3    1    8    3             35               0
2   19   10    0    0    0   11    8             48               0
3   14   16    0    5    7    4    4             50               0
4   10    7    3    4    0    0    8             32               1
5    7    2    2    7    0    9    3             30               0

In [8]:
# 1. Um DataFrama apenas com os alunos desqualificados (para o segundo método) pode ser obtido fazendo
df_alunos_desqualificados = df_completo.loc[df_completo['desqualificado'] == 1]
df_alunos_desqualificados.head()

    mat  por  geo  ing  his  fis  qui  total_acertos  desqualificado
4    10    7    3    4    0    0    8             32               1
7     6    0    7    7    5    0    4             29               1
11   10    8    3    2    1    7    0             31               1
13   20    8    3    7    1    0    3             42               1
15    7   11    1    7    1    4    0             31               1

In [9]:
# 2. Número de alunos desqualificados
n_desqualificados, _ = df_desqualificados.shape
print(f'--> Um total de {n_desqualificados} alunos foram desqualificados por zerar em pelo menos uma das 3 disciplinas obrigatórias')

# 2. Com base no segundo método da questão 1.
n_desqualificados = df_completo['desqualificado'].sum()
print(f'--> Um total de {n_desqualificados} alunos foram desqualificados por zerar ou em matemárica ou física ou química.')

--> Um total de 23 alunos foram desqualificados por zerar em pelo menos uma das 3 disciplinas obrigatórias
--> Um total de 23 alunos foram desqualificados por zerar ou em matemárica ou física ou química.

In [10]:
# 3. Média em história e geografia dos alunos desqualificados
df_alunos_desqualificados = df_completo.loc[df_completo['desqualificado'] == 1]
media_geo = df_alunos_desqualificados['geo'].mean()
media_his = df_alunos_desqualificados['his'].mean()
print(f'--> A média em geográfia e história dos alunos desqualificados é {round(media_geo,2)} e {round(media_his,2)}, respectivamente')

--> A média em geográfia e história dos alunos desqualificados é 3.22 e 3.43, respectivamente

In [11]:
# 4. DataFrame com alunos qualificados para segunda fase
df_alunos_qualificados = df_completo[df_completo['desqualificado'] == 0]
df_alunos_qualificados.head()

   mat  por  geo  ing  his  fis  qui  total_acertos  desqualificado
1    6    7    7    3    1    8    3             35               0
2   19   10    0    0    0   11    8             48               0
3   14   16    0    5    7    4    4             50               0
5    7    2    2    7    0    9    3             30               0
6   20    2    5    3    2    9    9             50               0

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

> Como não consegui acessar o link disponível, tomei liberdade para baixar o banco de dados do link: https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-d86d93ee-e30e-4374-91de-6b1b71bda467.c000.csv

> Sendo esta a parte 1, disponível no site: https://opendatasus.saude.gov.br/dataset/covid-19-vacinacao/resource/5093679f-12c3-4d6b-b7bd-07694de54173

In [57]:
#arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-5ed92752-6121-474f-ab37-816918134afc.c000.csv'

df = pd.read_csv('https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-d86d93ee-e30e-4374-91de-6b1b71bda467.c000.csv',
                sep=';')
df.head(3)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,4124e92f-683e-408e-a98c-b755c02e9707-i0b0,4d6ee33a0ee4ba1cf0297463645795f256c13995331ca0...,51,1970-07-11,F,4,AMARELA,120020.0,10.0,CRUZEIRO DO SUL,...,2.0,Faixa Etária,216VCD203Z,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-09-30,2ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
1,58e2b60b-a095-4c24-9be1-4248a5d491d7-i0b0,66f8aa285e78689d3af65d21bd2ccfa82cf51a51ad2fd9...,43,1978-08-03,M,4,AMARELA,130180.0,10.0,IPIXUNA,...,2.0,Faixa Etária,216VCD213W,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-08-10,2ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
2,5d8d053d-7e64-4452-a201-0aad8b6144b4-i0b0,40892fac6aab5db521364b92434912aa0c0c59353e1872...,49,1972-08-10,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-08-17,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

In [67]:
# 1) Número de vacinas registradas na base
print(df['vacina_nome'].unique())
# Usando .nunique() para obter o número
n_vacinas = df['vacina_nome'].nunique()
n_vacinas

['COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD' 'COVID-19 PFIZER - COMIRNATY'
 'COVID-19 SINOVAC/BUTANTAN - CORONAVAC'
 'COVID-19 PFIZER - COMIRNATY BIVALENTE' 'INF3'
 'COVID-19 JANSSEN - Ad26.COV2.S' 'COVID-19 PEDIÁTRICA - PFIZER COMIRNATY'
 'COVID-19 ASTRAZENECA - ChAdOx1-S'
 'COVID-19 PFIZER - COMIRNATY PEDIÁTRICA'
 'COVID-19 PFIZER - COMIRNATY PEDIÁTRICA MENOR DE 5 ANOS'
 'COVID-19 SINOVAC - CORONAVAC' 'VVBN' nan]

12

In [68]:
# 2) Número de pacientes vacinados
df['paciente_id'].nunique()

316583

In [69]:
# 3) Número de pacientes que receberam a primeira dose
# Criando um novo dataframe para facilitar a analise
doses = pd.DataFrame(df[['paciente_id', 'vacina_descricao_dose']])

# Coluna de referência à dose de interesse
doses['primeira_dose'] = 0
# Organizando a coluna em dados booleanos, 1 para a dose desejada
doses.loc[doses['vacina_descricao_dose'] == '1ª Dose', 'primeira_dose'] = 1

# Determinando o número de pacientes únicos
n_pacientes = doses['paciente_id'].loc[doses['primeira_dose'] == 1].nunique()
print(f'--> {n_pacientes} pacientes únicos tomaram a primeira dose.')

doses.head(3)

--> 143248 pacientes únicos tomaram a primeira dose.

,paciente_id,vacina_descricao_dose,primeira_dose
0,4d6ee33a0ee4ba1cf0297463645795f256c13995331ca0...,2ª Dose,0
1,66f8aa285e78689d3af65d21bd2ccfa82cf51a51ad2fd9...,2ª Dose,0
2,40892fac6aab5db521364b92434912aa0c0c59353e1872...,1ª Dose,1

In [70]:
# 3) solução alternativa
# Obtendo a dose de interesse
dose_1 = df['vacina_descricao_dose'].unique()[1]
print(dose_1)

n_pacientes_dose1 = df['paciente_id'].loc[df['vacina_descricao_dose'] == dose_1].nunique()
print(f'--> {n_pacientes_dose1} pacientes receberam a 1ª dose.')

1ª Dose
--> 143248 pacientes receberam a 1ª dose.

In [71]:
# 4) Pacientes menores de idade
pacientes_menores_idade = df[df['paciente_idade'] < 18]
# Obtendo o número de pacientes únicos
pacientes_menores_idade['paciente_id'].nunique()

68316

In [77]:
# 5) 
df['estabelecimento_razaoSocial'].nunique()

62

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [84]:
# 1)
df_menor_idade = df[df['paciente_idade'] < 18].copy()
df_menor_idade.head(3)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
3,58ed8908-25a6-48cb-83a6-a576fc283e4a-i0b0,efba0f65d33d8a07318bf00915098c37b8c066f90835ee...,10,2011-08-19,F,3,PARDA,120030.0,10.0,FEIJO,...,NaN,NaN,B202106077,SINOVAC/BUTANTAN,152,2022-06-29,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
4,0b63350a-448f-4142-a0fa-493ff697c03a-i0b0,2826fd385628e69597a866be9605cfec6a8b8283128285...,16,2005-01-09,M,4,AMARELA,120070.0,10.0,XAPURI,...,2.0,Faixa Etária,FD7207,PFIZER,Organization/00394544000851,2021-08-26,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
7,58ff57ae-c2f3-4966-a1bb-9da6d1237f06-i0b0,3a4cd919aa1608561d8c78eeed12d48f038070e9e9b651...,16,2005-03-23,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FF8840,PFIZER,Organization/00394544000851,2021-09-30,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

In [88]:
# 2) Não há parênteses  como indicado no enunciado "columns()"
df_menor_idade.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [92]:
# 3) Para fazermos a contagem vamos utilizar .value_counts()
df_menor_idade['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                      47594
Povos Indígenas                                    4694
Outros                                             3755
Povos e Comunidades Tradicionais                    820
Trabalhadores de Saúde                              254
Comorbidades                                         56
População Privada de Liberdade                       53
Gestantes                                            42
Pessoas com Deficiência                              11
Pessoas Institucionalizadas                           3
Trabalhadores da Educação                             2
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Name: count, dtype: int64

In [100]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor_idade.loc[:,lista_variaveis]
df_menor_lista.head()

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
3,2000040,PREFEITURA MUNICIPAL DE FEIJO,CENTRO DE SAUDE DIAMANTINO MACEDO,120030,FEIJO,AC
4,2001217,PREFEITURA MUNICIPAL DE XAPURI,UNIDADE SAUDE DA FAMILIA JOSE FADUL,120070,XAPURI,AC
7,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
18,6748759,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,POLO BASE DE FEIJO,120030,FEIJO,AC
25,2001314,PREFEITURA MUNICIPAL DE EPITACIOLANDIA,ESF JOAO ALVES DA SILVA,120025,EPITACIOLANDIA,AC

In [107]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.head()

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
3,2000040,PREFEITURA MUNICIPAL DE FEIJO,CENTRO DE SAUDE DIAMANTINO MACEDO,120030,FEIJO,AC
4,2001217,PREFEITURA MUNICIPAL DE XAPURI,UNIDADE SAUDE DA FAMILIA JOSE FADUL,120070,XAPURI,AC
7,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
18,6748759,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,POLO BASE DE FEIJO,120030,FEIJO,AC
25,2001314,PREFEITURA MUNICIPAL DE EPITACIOLANDIA,ESF JOAO ALVES DA SILVA,120025,EPITACIOLANDIA,AC